body{
    background-color: rgb(120, 118, 118);
}

.header{
    display: flex;
    justify-content: center;
    margin: 1.2rem 0.3rem;
}

.container{
    width: 70%;
    min-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.card{
    padding: 0.6rem;
    width: 30.5%;
    min-width: 14rem;
    min-height: 4.5rem;
    border-radius: 0.3rem;
}

.board{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
}

.task{
    background-color: white;
    margin: 0.2rem 0rem 0.3rem 0rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    padding: 0.5rem 0.2rem 0.5rem 2rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



#todo{
    background-color: rgb(0, 255, 255);
}
#inprogress{
    background-color: rgb(253, 162, 4);
}
#done{
    background-color: rgb(34, 255, 0);
}